<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador de visitantes - v1.0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
   </script>

  <body>
    <main>
      <header>
        <%= render "/layouts/navbar" %>
      </header>
        <section>

            <% if notice.present? %>
              <script>
                alert("<%= notice %>");
              </script>
            <% end %>

          <article class="lg:min-h-screen lh:flex lg:items-center p-6 lg:p-24 xl:-p40">

            <div id="container" class="flex-grow shadow-2xl rounded-md border border-[#333549] p-2">
            <%= yield %>

            </div>
            <% if current_page?(root_path)%>
              <%= paginate @visitantes %>
            <% elsif current_page?("/visitantes/")%>
              <%= paginate @visitantes %>
            <% elsif current_page?("/visitantes/page/#{params[:page]}")%>
              <%= paginate @visitantes %>
            <% else %>

            <% end %>
            <br>
          </article>
        </section>
        <br>

    </main>
    <footer>
      <%= render "/layouts/footer" %>
    </footer>
  </body>
  <script src="../path/to/flowbite/dist/flowbite.js"></script>
</html>
