<!DOCTYPE html>
<html>
  <head>
    <title>ControladorVisitante</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <header>
        <%= render "/layouts/navbar" %>
      </header>
        <section>

          <center class="p-2">
            <h1>
              <% if current_page?(root_path) %>
                HOME1
              <% elsif current_page?(visitantes_path) %>
                HOME2
              <% elsif current_page?(visitante_path) %>
                SHOW VISITANTE
              <% elsif current_page?(edit_visitante_path) %>
                EDIT VISITANTE
              <% else %>
                NO HOME
              <% end %>


            </h1>
          </center>

          <article class="lg:min-h-60 lh:flex lg:items-center p-6 lg:p-24 xl:-p48">

            <div class="flex-grow shadow-xl rounded-md border border-[#333549] p-2">
            <%= yield %>
            </div>
          </article>
        </section>
      <footer>
        <%= render "/layouts/footer" %>
      </footer>
    </main>
  </body>
</html>
